# DATA ANALYTICS CASE_STUDY (GOV)

# V. ADITYA BHARADWAJ
# 2211CS010585
# GROUP 3

**IMPORTING LIBRARIES**

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Importing the dataset**

In [10]:
df = pd.read_csv("INDIGO_Fleet(2).csv")
df

       Year  Total Fleet Size  A320-200  A321neo  ATR 72-600  Boeing 777-300ER
0   2007-08                17        17        0           0                 0
1   2008-09                19        19        0           0                 0
2   2009-10                25        25        0           0                 0
3   2010-11                38        38        0           0                 0
4   2011-12                55        55        0           0                 0
5   2012-13                66        66        0           0                 0
6   2013-14                77        77        0           0                 0
7   2014-15                94        94        0           0                 0
8   2015-16               107       107        0           0                 0
9   2016-17               131       131        0           0                 0
10  2017-18               150       135       10           5                 0
11  2018-19               175       140       20          15                 0
12  2019-20               200       140       40          20                 0
13  2020-21               225       140       60          25                 0
14  2021-22               250       135       80          30                 5
15  2022-23               275       130      100          35                10
16  2023-24               300       125      120          40                15
17  2024-25               325       120      140          45                20

**Information of Data Frame**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              18 non-null     object
 1   Total Fleet Size  18 non-null     int64
 2   A320-200          18 non-null     int64
 3   A321neo           18 non-null     int64
 4   ATR 72-600        18 non-null     int64
 5   Boeing 777-300ER  18 non-null     int64
dtypes: int64(5), object(1)
memory usage: 996.0+ bytes

**Understanding the Shape of the dataframe**

In [12]:
df.shape

(18, 6)

**Total data is considered for past 18 years**

In [16]:
df['Year'].value_counts().sum()

18

**Total Fleet Growth Over the Years**

df["Fleet Growth"] = df["Total Fleet Size"].diff().fillna(0).astype(int)
print(df[["Year", "Total Fleet Size", "Fleet Growth"]])

**Average fleet size over time of Airbus 320**

In [20]:
avg_fleet_a320 = df["A320-200"].mean()
print(f"A320-200: {avg_fleet_a320:.2f}")

A320-200: 94.11

**Average fleet size over time of Airbus 321-Neo**

In [21]:
avg_fleet_a321 = df["A321neo"].mean()
print(f"A321neo: {avg_fleet_a321:.2f}")

A321neo: 31.67

**Average fleet size over time of ATR 72-600**

In [23]:
avg_fleet_atr = df["ATR 72-600"].mean()
print(f"ATR 72-600: {avg_fleet_atr:.2f}")

ATR 72-600: 11.94

**Average fleet size over time of Boeing 777-300ER**

In [24]:
avg_fleet_b777 = df["Boeing 777-300ER"].mean()
print(f"Boeing 777-300ER: {avg_fleet_b777:.2f}")

Boeing 777-300ER: 2.78

**Year with the Highest Fleet Growth**

In [27]:
max_fleet_growth = df.loc[df["Fleet Growth"].idxmax(), ["Year", "Fleet Growth", "A320-200", "A321neo", "ATR 72-600", "Boeing 777-300ER"]]
max_fleet_growth

Year                2018-19
Fleet Growth             25
A320-200                140
A321neo                  20
ATR 72-600               15
Boeing 777-300ER          0
Name: 11, dtype: object

**Years where at least one aircraft has more than 100 aircrafts**

In [32]:
greater_100 = df[df.iloc[:, 2:].gt(100).any(axis=1)][["Year"]]
print( greater_100)

Years where at least one aircraft has more than 100 aircrafts:
        Year
8   2015-16
9   2016-17
10  2017-18
11  2018-19
12  2019-20
13  2020-21
14  2021-22
15  2022-23
16  2023-24
17  2024-25

**Filter years where at least one aircraft has fleet size < 100**

In [33]:
years_less_100 = df[df.iloc[:, 2:].lt(100).any(axis=1)][["Year"]]

print("Years where at least one aircraft has less than 100 aircrafts:")
print(years_less_100.to_string(index=False))

Years where at least one aircraft has less than 100 aircrafts:
   Year
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
2023-24
2024-25